---
layout: layouts/resume.njk
eleventyExcludeFromCollections: true
eleventyNavigation:
  key: CV
  order: 2
title: JC Pagnon - UI Developer - Curriculum vitae
---

<div class="toolbar">
	<a href="{{ "/resume/" | htmlBaseUrl }}">🇬🇧 Swith to the english version</a>
	<div class="info">
		<p>Vous préférez une version imprimée ? <br>Tapez <kbd>Ctrl+P</kbd> (Win/Linux) ou <kbd>⌘+P</kbd> (macOS)</p>
	</div>
</div>

<div class="tampon">
	<picture class="tampon-portrait">
		<img src="/img/gooz.jpeg" alt="Mon portrait" width="250" height="375">
	</picture>
	<div class="tampon-content">
		<header class="tampon-id">
			<h1>JC «&nbsp;GoOz&nbsp;» Pagnon</h1>
			<h2>UI Developer</h2>
			✉️ gooz@foojin.com
		</header>
		<div class="tampon-desc">
			<p>Bidouilleur sur le web depuis l'adolescence et professionnel depuis environ 2007, je construis des interfaces claires, accessibles et performantes avec pour principaux moteurs la qualité et l'accessibilité.</p>
			<p>Même si mon domaine est le front, je travaille toujours en symbiose avec le backend ou le design.</p>
		</div>
	</div>
</div>

<hr>

<h2 class="align-center">Mon cœur de métier</h2>
<ul class="pillars">
	<li class="pillars-item">
		<img src="/img/html5.svg" alt="HTML5">
	</li>
	<li class="pillars-item">
		<img src="/img/css.svg" alt="CSS">
	</li>
	<li class="pillars-item">
		<img src="/img/javascript.svg" alt="Javascript">
	</li>
	<li class="pillars-item">
		<img src="/img/accessibility.svg" alt="Accessibilité">
	</li>
</ul>

<hr>

<h2 class="align-center">Mes expériences professionnelles</h2>

<ol reversed class="roles">
	<li class="roles-item">
		<div class="roles-date">Juillet 2023 à aujourd'hui</div>
		<h3>UI Developer / UX Designer / Frontend dev <span class="roles-type">CDI</span></h3>
		<dl>
			<dt>Employeur</dt>
			<dd><a href="https://www.alwaysdata.com/fr/">Alwaysdata</a> <span class="roles-type">100% télétravail</span></dd>
			<dt>Mission</dt>
			<dd>Construction de zéro d'un design system personnalisé côté backend pour assurer la cohérence et la durabilité de toutes les applications de l'entreprise.</dd>
		</dl>
	</li>
	<li class="roles-item">
		<div class="roles-date">Juillet 2020 à Juillet 2023</div>
		<h3>UI Developer / Frontend Dev <span class="roles-type">CDI</span></h3>
		<dl>
			<dt>Employeur</dt>
			<dd><a href="https://www.ukg.com/">UKG</a> <span class="roles-type">100% télétravail</span></dd>
			<dt>Mission</dt>
			<dd>Développement et maintenance d'un design system avec StencilJS dans un cadre international avec distribution de paquet pour Vanilla JS, Angular, React, Ember. Axé sur une bonne DX, performance et accessibilité.</dd>
		</dl>
	</li>
	<li class="roles-item">
		<div class="roles-date">Novembre 2019 à Juillet 2020</div>
		<h3>UI Developer / Frontend Dev <span class="roles-type">CDI</span></h3>
		<dl>
			<dt>Employeur</dt>
			<dd><a href="https://www.cg-wire.com/">CG-Wire</a> <span class="roles-type">100% télétravail</span></dd>
			<dt>Mission</dt>
			<dd>Développement frontend d'une solution SaaS de suivi de production pour les studios d'animation et de post-production vidéo.</dd>
		</dl>
	</li>
	<li class="roles-item">
		<div class="roles-date">Novembre 2016 à Juillet 2019</div>
		<h3>UI Developer / Frontend Dev <span class="roles-type">CDI</span></h3>
		<dl>
			<dt>Employeur</dt>
			<dd><a href="https://cozy.io/fr/">Cozy Cloud</a> <span class="roles-type">100% télétravail</span></dd>
			<dt>Mission</dt>
			<dd>Développement et maintenance d'une bibliothèque de composants UI React <br>
Développement et maintenance de plusieurs web apps sécurisées de gestion de données personnelles pour le Cloud personnel par Cozy.</dd>
		</dl>
	</li>
	<li class="roles-item">
		<div class="roles-date">Janvier 2016 à Novembre 2016</div>
		<h3>Frontend Dev<span class="roles-type">CDI</span></h3>
		<dl>
			<dt>Employeur</dt>
			<dd><a href="https://www.oonops.com/">Oonops</a></dd>
			<dt>Mission</dt>
			<dd>Developpement front de plusieurs sites et mini-sites, pour des comptes de l'assurance, de l'industrie et des ONG</dd>
		</dl>
	</li>
	<li class="roles-item">
		<div class="roles-date">Novembre 2013 à Décembre 2015</div>
		<h3>Frontend dev - Consultant<span class="roles-type">CDI</span></h3>
		<dl>
			<dt>Employeur</dt>
			<dd><a href="https://www.clever-age.com/">Clever Age</a></dd>
			<dt>Mission</dt>
			<dd>Developpement frontend de plusieurs sites et mini-sites, pour des grands comptes du luxe, des assurances, de l'industrie et du prêt-à-porter</dd>
		</dl>
	</li>
	<li class="roles-item">
		<div class="roles-date">Janvier 2012 à Octobre 2013</div>
		<h3>Intégrateur web<span class="roles-type">CDI</span></h3>
		<dl>
			<dt>Employeur</dt>
			<dd><a href="https://www.lexpress.fr/">Groupe Express-Roularta</a> <span class="roles-type">100% télétravail</span></dd>
			<dt>Mission</dt>
			<dd>Maintenance, refonte et amélioration des sites du groupe (lexpress.fr, lentreprise.com, lexpansion.fr, cotemaison.fr, etc)</dd>
		</dl>
	</li>
	<li class="roles-item">
		<div class="roles-date">Novembre 2007 à Février 2012</div>
		<h3>Lead intégrateur web <span class="roles-type">CDI</span> <span class="roles-type">Contrat de professionnalisation</span></h3>
		<dl>
			<dt>Employeur</dt>
			<dd><a href="https://www.brainsonic.com/">Brainsonic</a></dd>
			<dt>Mission</dt>
			<dd>Intégration de sites statiques (événementiel), dynamiques (avec Symfony, WordPress…) <br>
Campagnes mail et newsletter <br>
Gestion des équipes offshore, briefing freelance et formation de stagiaires.</dd>
		</dl>
	</li>
	<li class="roles-item">
		<div class="roles-date">Mars 2006 à Septembre 2007</div>
		<h3>Chargé de production video <span class="roles-type">Contrat de professionnalisation</span></h3>
		<dl>
			<dt>Employeur</dt>
			<dd><a href="https://ideactif.fr/">Ideactif</a></dd>
			<dt>Mission</dt>
			<dd>Montage de vidéos événementielles <br>
Gestion de dispositifs multimédia sur festivals (Director et site internet).</dd>
		</dl>
	</li>
</ol>
