---
layout: layouts/resume.njk
eleventyExcludeFromCollections: true
title: JC Pagnon - UI Developer - Resume
---

<div class="toolbar">
	<a href="{{ "/cv/" | htmlBaseUrl }}">🇫🇷 Passer à la version française</a>
	<div class="info">
		<p>Do you prefer a printed version? <br>Hit <kbd>Ctrl+P</kbd> (Win/Linux) or <kbd>⌘+P</kbd> (macOS)</p>
	</div>
</div>

<div class="tampon">
	<picture class="tampon-portrait">
		<img eleventy:ignore src="/img/gooz.jpeg" alt="My portrait" width="250" height="375">
	</picture>
	<div class="tampon-content">
		<header class="tampon-id">
			<h1>JC «&nbsp;GoOz&nbsp;» Pagnon</h1>
			<h2>UI Developer</h2>
			✉️ gooz@foojin.com
		</header>
		<div class="tampon-desc">
			<p>Tinkerer on the web since adolescence and professional since circa 2007, I have been building clear, accessible and efficient user interfaces always with quality and accessibility in mind.</p>
			<p>Even though my area of expertise is the frontend, I always work in symbiosis with the backend or the design.</p>
		</div>
	</div>
</div>

<hr>

<h2 class="align-center">My core skills</h2>
<ul class="pillars">
	<li class="pillars-item">
		<img eleventy:ignore src="/img/html5.svg" alt="HTML5">
	</li>
	<li class="pillars-item">
		<img eleventy:ignore src="/img/css.svg" alt="CSS">
	</li>
	<li class="pillars-item">
		<img eleventy:ignore src="/img/javascript.svg" alt="Javascript">
	</li>
	<li class="pillars-item">
		<img eleventy:ignore src="/img/accessibility.svg" alt="Accessibility">
	</li>
</ul>

<hr>

<h2 class="align-center">My work experiences</h2>

<ol reversed class="roles">
	<li class="roles-item">
		<div class="roles-date">July 2023 to this day</div>
		<h3>UI Developer / UX Designer / Frontend dev <span class="roles-type">Permanent</span> <span class="roles-type">Full remote</span></h3>
		<dl>
			<dt>Employer</dt>
			<dd><a href="https://www.alwaysdata.com/fr/">Alwaysdata</a></dd>
			<dt>Tasks</dt>
			<dd>Building from scratch a custom backend design system to ensure consistency & sustainability for all apps in the company.</dd>
		</dl>
	</li>
	<li class="roles-item">
		<div class="roles-date">July 2020 to July 2023</div>
		<h3>UI Developer / Frontend Dev <span class="roles-type">Permanent</span> <span class="roles-type">Full remote</span></h3>
		<dl>
			<dt>Employer</dt>
			<dd><a href="https://www.ukg.com/">UKG</a></dd>
			<dt>Tasks</dt>
			<dd>Design system development and maintenance with StencilJS distributed as Vanilla JS, Angular, React and Ember packages for all the UKG app development teams across the world (US/Canada/India/UK/France,…). <br>
Design system focused on DevX, performance and accessibility.</dd>
		</dl>
	</li>
	<li class="roles-item">
		<div class="roles-date">November 2019 to Juily 2020</div>
		<h3>UI Developer / Frontend Dev <span class="roles-type">Permanent</span> <span class="roles-type">Full remote</span></h3>
		<dl>
			<dt>Employer</dt>
			<dd><a href="https://www.cg-wire.com/">CG-Wire</a></dd>
			<dt>Tasks</dt>
			<dd>Development of a production tracking solution for animation and post-production studios.</dd>
		</dl>
	</li>
	<li class="roles-item">
		<div class="roles-date">November 2016 to July 2019</div>
		<h3>UI Developer / Frontend Dev <span class="roles-type">Permanent</span> <span class="roles-type">Full remote</span></h3>
		<dl>
			<dt>Employer</dt>
			<dd><a href="https://cozy.io/fr/">Cozy Cloud</a></dd>
			<dt>Tasks</dt>
			<dd>Design system development for the Cozy platform, a secured cloud to handle and store your personal data.</dd>
		</dl>
	</li>
	<li class="roles-item">
		<div class="roles-date">January 2016 to November 2016</div>
		<h3>Frontend Dev<span class="roles-type">Permanent</span></h3>
		<dl>
			<dt>Employer</dt>
			<dd><a href="https://www.oonops.com/">Oonops</a></dd>
			<dt>Tasks</dt>
			<dd>Development of several websites for insurance, industry or NGO clients.</dd>
		</dl>
	</li>
	<li class="roles-item">
		<div class="roles-date">November 2013 to December 2015</div>
		<h3>Frontend dev - Consultant<span class="roles-type">Permanent</span></h3>
		<dl>
			<dt>Employer</dt>
			<dd><a href="https://www.clever-age.com/">Clever Age</a></dd>
			<dt>Tasks</dt>
			<dd>Development of several websites for luxury, insurance, industry or ready-to-wear clients</dd>
		</dl>
	</li>
	<li class="roles-item">
		<div class="roles-date">January 2012 to October 2013</div>
		<h3>Frontend dev<span class="roles-type">Permanent</span></h3>
		<dl>
			<dt>Employer</dt>
			<dd><a href="https://www.lexpress.fr/"> Express-Roularta Group</a></dd>
			<dt>Tasks</dt>
			<dd>Maintenance and enhancement of all the group's websites (lexpress.fr, lentreprise.com, lexpansion.fr, cotemaison.fr, etc)</dd>
		</dl>
	</li>
	<li class="roles-item">
		<div class="roles-date">November 2007 to February 2012</div>
		<h3>Frontend dev <span class="roles-type">Permanent</span> <span class="roles-type">Internship</span></h3>
		<dl>
			<dt>Employer</dt>
			<dd><a href="https://www.brainsonic.com/">Brainsonic</a></dd>
			<dt>Tasks</dt>
			<dd>
				Development of websites for B2B accounts, mail campaigns, offshore team management.
			</dd>
		</dl>
	</li>
	<li class="roles-item">
		<div class="roles-date">March 2006 to September 2007</div>
		<h3>Video editor <span class="roles-type">Internship</span></h3>
		<dl>
			<dt>Employer</dt>
			<dd><a href="https://ideactif.fr/">Ideactif</a></dd>
			<dt>Tasks</dt>
			<dd>Marketing videos edition. <br>
Multimedia devices support on music festivals (Director & websites).</dd>
		</dl>
	</li>
</ol>

