<ol reversed class="grid{% if home %} grid--highlight{% endif%}">
{% for post in postslist | reverse %}
	<li class="grid-item post-item">
		<a href="{{ post.url }}">
			<span class="reading-time" aria-label="Temps de lecture">
		    {% svg "time" %}
			 	{{ post.content | timeToRead }}
			</span>
			{% if post.data.featured %}
			<img src="/{{ post.url }}/{{ post.data.featured }}" alt="" sizes="(min-width: 50em) 50vw, 100vw">
			{% endif %}
			<span class="post-item-title">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</span>
			</a>
	</li>
{% endfor %}
</ol>
