---
layout: layouts/base.njk
---
{% if featured %}
<figure class="feature">
	{% image featured , "", "(min-width: 50em) 90vw, 100vw" %}
	{% if featured_author %}
	<figcaption>Photo de <a href="https://unsplash.com/@{{ featured_url}}">{{featured_author}}</a> sur Unsplash</figcaption>
	{% endif %}
</figure>
{% endif %}

<article class="article">
	<h1>{{ title }}</h1>

	<ul class="post-metadata">
		<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
		{%- for tag in tags | filterTagList %}
		{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
		<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}{% endif %}</li>
		{%- endfor %}
		<li>
			<span class="reading-time" aria-label="Temps de lecture">
			  {% svg "time" %}
			 	{{ content | timeToRead }}
			</span>
		</li>
	</ul>

	{{ content | safe }}

	{%- if webmentions.length > 0 %}
	{# Get the webmention count for the current page #}
	{%- set currentPostMentionCount = webmentions | webmentionCountForPage -%}
	{# Get the webmentions for the current page #}
	{%- set currentPostMentions = webmentions | webmentionsForPage -%}
	<hr>
	{{ currentPostMentionCount }} Réactions
	{{ currentPostMentions[0] }}
	{%- endif %}

	{%- if collections.posts %}
	{%- set previousPost = collections.posts | getPreviousCollectionItem %}
	{%- set nextPost = collections.posts | getNextCollectionItem %}
	{%- if nextPost or previousPost %}
	<hr>
	<h2>Lire d'autres billets</h2>
	<ul class="links">
		{%- if previousPost %}
		<li class="links-prev post-item">
			<a href="{{ previousPost.url }}">
				<span class="reading-time" aria-label="Temps de lecture">
			    {% svg "time" %}
				 	{{ previousPost.content | timeToRead }}
				</span>
			  {% if previousPost.data.featured %}
			  {% image "../../../../"+previousPost.url+"/"+previousPost.data.featured , "" %}
			  {% endif %}
			  <span class="post-item-title">{% if previousPost.data.title %}{{ previousPost.data.title }}{% else %}<code>{{ previousPost.url }}</code>{% endif %}</span>
			</a>
		</li>
		{% endif %}
		{%- if nextPost %}
		<li class="links-next post-item">
			<a href="{{ nextPost.url }}">
				<span class="reading-time" aria-label="Temps de lecture">
			    {% svg "time" %}
				 	{{ nextPost.content | timeToRead }}
				</span>
			  {% if nextPost.data.featured %}
			  {% image "../../../../"+nextPost.url+"/"+nextPost.data.featured , "" %}
			  {% endif %}
			  <span class="post-item-title">{% if nextPost.data.title %}{{ nextPost.data.title }}{% else %}<code>{{ nextPost.url }}</code>{% endif %}</span>
			</a>
		</li>
		{% endif %}
	</ul>
	{%- endif %}
	{%- endif %}

</article>
{% readerBar "2px", "transparent", "hsl(239 78% 84%)", "0" %}
